@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatX {
    0% { transform: translateX(0); }
    50% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.animate-floatX {
    animation: floatX 4s ease-in-out infinite;
}

/* 스크롤은 되는데 스크롤바만 숨김 */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes bgGradientMove {
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
    }
    
    .animate-bgGradient {
        animation: bgGradientMove 18s ease-in-out infinite;
}
